@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60bf;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-[var(--color-background)] font-mono text-[var(--color-foreground)] selection:bg-[var(--color-accent)]/75 selection:text-[var(--color-background)];
  }
  header {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
  main {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
  section {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-[1000px];
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* 强制更新主题图标动画 */
#theme-btn {
  &[data-theme="dark"] .dark\\:opacity-0 {
    opacity: 0 !important;
    transform: scale(0) !important;
  }
  &[data-theme="dark"] .dark\\:opacity-100 {
    opacity: 1 !important;
    transform: scale(1) !important;
  }
  &[data-theme="light"] .opacity-0 {
    opacity: 0 !important;
    transform: scale(0) !important;
  }
  &[data-theme="light"] .opacity-100 {
    opacity: 1 !important;
    transform: scale(1) !important;
  }
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
:target {
  scroll-margin-block: 1rem;
}

#particles-js {
  background: radial-gradient(ellipse at center, #0d0d1a 0%, #000000 100%);
  background-size: cover;
  background-position: center;
}
